<app-header></app-header>
<div class="IndexBodyContainer">

  <div class="PageMainwidth">
    <div class="ProfileDetailsPage">
      <div class="ProfileDetailsImage">
        <img src="assets/images/profile-img.png" alt="">
      </div>
      <div class="ProfileDetailsText">
        <h3>רוני בלקין – מי אני?</h3>
        <ul>
          <li>
            	אני רוני בלקין, יליד 1960. גדלתי ברמת השרון, בן לזיוה ז"ל ופסח בלקין, ואח לדרור וניר. אני זוכר את רמת השרון כיישוב קטן שבו באמת כולם מכירים את כולם בשכונה, עיר שהיא משפחה.
            <br/>
            אחד מזיכרונות הילדות המשמעותיים שלי היה כשהייתי בן 9, ביום שלישי 28.10.1969, היום בו נערכו הבחירות. אפשרו לנו להיות ערים עד מאוחר וראינו את ההפתעה והשמחה, כשלראשונה רשימה עצמאית שקמה לטובת הישוב זוכה בבחירות ומוכיחה שאפשר גם אחרת, למען הציבור.
            <br/>
            כילד, ראיתי את אבי יוצא השכם בבוקר לראות כיצד מפנים אשפה, קופץ בלילה כשמתפוצץ צינור מים באחת השכונות, מבקר את החקלאים בשדותיהם, נפגש עם מנהלות ומנהלי בתי הספר, ומפקח על הקמת בריכת "שרונית" במורשה. למדתי הרבה על מנהיגות, על עשייה למען התושב, על אכפתיות ועל תכנון ארוך טווח.
          </li>
          <li>
            	בכיתה ט' קיבלתי החלטה שעיצבה את המשך מסלול חיי, כשסיימתי את הלימודים בבית ספר "גולן" החלטתי להצטרף לפנימייה הצבאית לפיקוד בתל אביב, ולהמשיך ממנה לשירות קרבי ביחידה מובחרת.
            <br/>
            התגייסתי לצה"ל ב-1978 והתנדבתי לסיירת מטכ"ל בה עברתי מסלול הכשרה כלוחם וכמפקד. 14 שנה הייתי בסיירת מטכ"ל, נטלתי חלק בפעולות רבות, בחלקן מעבר לקווי האויב, עד שמוניתי לסגנו של בוגי יעלון מפקד היחידה.
            <br/>
            בין לבין סיימתי קורס קצינים והשלמתי תואר ראשון בחוג לכלכלה וניהול באוניברסיטת תל אביב.

          </li>
          <li>
          	ב-1992 התרחשו שני אירועים משמעותיים בחיי: התמניתי למפקד גדוד 50 של חטיבת הנח"ל וחשוב מזה - התחתנתי עם רוני.
          <br/>
          את רוני הכרתי במהלך הלימודים באוניברסיטה. רוני הייתה סטודנטית יפיפייה, לימים עורכת דין מבריקה וחוקרת בכירה ברשות לניירות ערך. זו הייתה אהבה ממבט ראשון. יחד הבאנו לעולם את רועי ואת עמרי וחיינו זו לצד זה 24 שנים מלאות ומאושרות.
          <br/>
          בדצמבר 2016 רוני הלכה לעולמה כתוצאה ממחלת ריאות .
          </li>
          <li>
            	כשהשתחררתי מצה"ל החלטתי לצאת לחיים חדשים באזרחות, אבל נקראתי לחזור לשירות ולקבל על עצמי את הפיקוד על יחידת מגלן, שפעלה אז בעיקר בלבנון. פיקדתי על היחידה במשך שלוש שנים, כולל במהלך מבצע "ענבי זעם", והמשכתי לשורה של תפקידי פיקוד, בין היתר מפקד חטיבת העמקים, מפקד חטיבת הבקעה, וסגן מפקד עוצבת הפלדה.

          </li>
          <li>
            	ב-2009 פרשתי מצה"ל, מאז ועד היום אני ממשיך בשירות מילואים פעיל ומשמש כיום כראש צוות התכנון באוגדה 98 (עוצבת האש).
            <br/>
            ביום העצמאות האחרון העניק לי הרמטכ"ל גדי איזנקוט דרגת תת אלוף. זה היה רגע של גאווה גדולה עבורי. הצטערתי מאוד שרוני לא הייתה שם איתי במעמד הזה.

          </li>
        </ul>
        <h3>
        באזרחות
        </h3>
        <ul>
          <li>
            	מאז שחרורי מצה"ל אני סמנכ"ל פעילות חו"ל של קבוצת נקסטקום, חברה העוסקת בתשתיות אזרחיות, תקשורת, בינוי ואנרגיה מתחדשת. הובלתי מטעמה שורה של מיזמים רחבי היקף באירופה ובאפריקה. הקמתי קווי תשתיות ואתרי אנרגיה בהיקפים גדולים, בפרויקטים בהם נדרש שיתוף ממשלות, חברות עסקיות וגופים בינלאומיים.
          </li>
          <li>
            	אבל לפני הכול - אני רמת שרוני. לא משנה באיזה תפקיד אחזתי, נשארתי תמיד מעורב בחיי העיר, בין היתר כחבר הוועדה החקלאית, כחבר הנהלת בית ראשונים והמוזיאון הגיאולוגי. אבל זה לא מספיק. כדי לשנות ולתקן, צריך לגלות מעורבות גדולה ועמוקה יותר. רמת השרון זקוקה היום למנהיגות חדשה, בדיוק כמו שהייתה זקוקה לה לפני 50 שנה. רמת השרון נקלעה לסיטואציה משתקת שאינה מאפשרת ניהול של העיר. המערכת הפוליטית הפנימית ברמת השרון צריכה שינוי ורוח חדשה.
          </li>
          <li>
            	אחרי שרוני הלכה לעולמה, החלטתי שאני חייב לצאת מאזור הנוחות שלי וצריך לעשות יותר למען העיר שאני אוהב. לכן החלטתי להצטרף למרוץ לראשות העיר.
            <br/>
            "מעשה אבות סימן לבנים" אמרו חז"ל, ואולי זו הדרך שהתווה לי אבי, לקום ולעשות מעשה, להביא את השינוי שאנו מייחלים לו, ולא לחכות שאחרים יעשו זאת.
            <br/>
            לכן אני מבקש שתתמכו בי בבחירות לראשות עיריית רמת השרון. הצטרפו אליי וביחד נחולל את השינוי!

          </li>

        </ul>

        שלכם,
        <br/>
        רוני בלקין
        <br/>
        <img src="assets/images/signature.png" class="moto-sig">
      </div>

    </div>
  </div>

</div>
<app-footer></app-footer>
