<app-header></app-header>
<div class="IndexBodyContainer">

  <div class="PageMainwidth">
    <div class="ProfileDetailsPage">
      <!--
                             <div class="ProfileDetailsImage">
                                  <img src="assets/images/profile-img.png" alt="">
                             </div>
      -->
      <div class="ProfileDetailsText ProfileDetailsTextTwo motoSection">
        <img src="assets/images/a_v.png" style="float: right;">
        <h2 class="moto_h2_header"> פותחים יחד פרק חדש בתולדות רמת השרון </h2>
        <p>
          רמת השרון, העיר שלנו, ממוקמת במרכז העשירייה הראשונה של רשימת הערים בישראל בהן טוב לגור. זהו מיקום מכובד, ללא ספק, אבל האם זה מספק?
        </p><p>
          אני חושב שלא. אני מאמין שאת הטוב יש להפוך למצוין לטובת כל תושבי העיר, בכל רובע ובכל שכונה.                                                             כך פעלתי כל חיי כאיש צבא ובשנים האחרונות גם כמנהל פרויקטים ברחבי העולם בתחום האזרחי.
      </p><p>
          רמת השרון נמצאת בתקופה קריטית בתולדותיה. המצב כיום עלול להביא להידרדרות בהיתכנות הכלכלית ובעצם קיומה כרשות עצמאית.
      </p><p>
          העירייה שלנו חייבת להתנהל כראוי מול כוחות השוק ולעלות על פסים כלכליים יציבים שיאפשרו לה להשקיע ולהתפתח.
        </p><h3 style="text-align: center">
        תושבים יקרים, מגיע לנו יותר.
      </h3><p>
        לאחר עבודה מאומצת של חודשים רבים, הכוללת פגישות עבודה עם אנשי מקצוע ומומחים בתחומם, בנוסף למפגשים והתייעצויות שערכתי עם תושבים רבים בעיר, הקשבה לנציגי שכונות ואישי ציבור בעבר ובהווה, והכרות אישית שלי עם העיר אני מציג לפניכם את המצע שלנו לבחירות הקרובות.
      </p><p>
        אני בטוח  שניתן להשיג את היעדים שהצבנו לעצמנו, בזה אחר זה. אני יודע שיכול להיות טוב יותר בעיר שלנו, ואני מודע לגודל האחריות שהתפקיד דורש, ומתחייב לפעול כל יום למען רמת השרון ותושביה.
      </p><p>
        אתם מוזמנים להעיר את הערותיכם על המצע שלנו, ולהגיע לחוגי הבית הקרובים כדי לקבל הסברים מפורטים יותר על התוכניות הללו שלנו, וגם על אלה שטרם פורסמו.
      </p><p>
        שלכם,
        <br/>
        רוני בלקין.
        <div>
        <img src="assets/images/signature.png" class="moto-sig">
      </div>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        פיתוח עירוני - עושים בחכמה או לא עושים בכלל
        </h3>
        <p >
        </p>
        <ul>
          <li>
            	נוביל התחדשות תוך שמירה על אופייה הכפרי של העיר.
          </li><li>
            	נתמרץ קבלנים ויזמים להקצות מכל פרויקט בנייה בעיר, 20 אחוזים לטובת בניית דירות של 2-3 חדרים עבור צעירים, סטודנטים, ואוכלוסייה וותיקה.
        </li><li>
            	נקבע רף של עד 14 קומות בבנייה החדשה במרחב העירוני.
        </li><li>
            	נוביל תוכניות פינוי בינוי ותמ"א לבנייה מרקמית בהתאמה לשכונות.
        </li><li>
            	נקדם תוכנית תמ"א לפיתוח אזור רסקו מערב (רחוב יצחק אלחנן).
        </li><li>
            	נביא להתאמת תקני החנייה בבניינים החדשים לתקנים עדכניים על מנת למנוע את בעיית הצפיפות והחנייה בשכונות המגורים.
        </li><li>
            	נדאג שהיצע הדירות למגורים יתבסס תחילה על התחדשות עירונית בשכונות הותיקות תוך תכנון והתחשבות בתושבים הוותיקים ובהתאמת התשתיות.
        </li><li>
            	נקים את סובב רמת השרון – שבילי הליכה ואופניים שיקיפו את העיר.
          </li>
        </ul>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        פיתוח כלכלי- זה גם העסק שלנו
        </h3>
        <p class="moto_lead_text">
          עסקים הם המנוע העיקרי לצמיחה כלכלית. הם גם אלה שמשלמים את הנטל הגבוה ביותר של הארנונה. אבל מה הם מקבלים בתמורה? כמות מבקרים שהולכת ופוחתת, מתחמי עסקים מוזנחים ולא מטופחים. אנחנו נשנה את זה!
        </p>
        <ul>
        <li>
          נקים מתחמים לתעשייה קלה ברחבי העיר, עם תמהיל אורבני הכולל בתי עסק ומוקדי בילוי ופנאי. שלושת המתחמים שנקדם הם - רחוב החרושת, אזור התעשייה הישן של נווה מגן ומתחם הסינמה סיטי.
        </li><li>
          נשקיע במרכזים המסחריים הוותיקים הגוועים, למשל ברסקו מערב.
        </li><li>
          נפתח קרן סיוע לעידוד עסקים קטנים וחדשים, ונעודד יזמים צעירים מקומיים על ידי מתן זיכיונות.
      </li>
        </ul>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        קרוב לבית, קרוב ללב
        </h3>
        <p class="moto_lead_text">
          השכונה היא ערך מרכזי בחיי התושב והעירייה אמורה לספק שירותים שכונתיים בכל רובע.
        </p>
        <ul>
        <li>
          נשקם ונשדרג את הגנים הציבוריים בכל שכונה.
        </li><li>
          נגדיל ונחזק את מגוון הפעילויות והשירותים השכונתיים ונייצר גאוות יחידה בכל שכונה.
        </li><li>
          נמסד את מערך המיחזור של פחי האשפה המוטמנים.
        </li><li>
          נפתח את רשת השבילים הציבוריים, שיאפשרו תנועה רגלית נוחה בין השכונות והרחובות, מבלי להשתמש בכלי תחבורה ממונעים ובכבישים.
        </li><li>
          נקיים דיאלוג מתמיד וקבוע עם נציגי השכונות השונות על מנת לאתר את הבעיות הייחודיות לכל רובע.
        </li>
        </ul>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        מורשה- די למילים. הגיע הזמן למהפך
          </h3>
        <p class="moto_lead_text">
          בתחילת דרכי נשאלתי על פי איזה מדד אגדיר אם הקדנציה שלי כראש עיר הייתה מוצלחת.        תשובתי היתה במילה אחת – מורשה. לא אוכל להגדיר את הקדנציה שלי כמוצלחת, אם שכונת מורשה לא תעבור מהפכה של ממש ותושביה יחושו שיפור באיכות חייהם.
        </p>
        <ul>
          <li>
            מהפך אסתטי: נחדש את המדרכות, נסלול כבישים, נרענן את הרחובות, נוסיף עמודי תאורה ברחובות ונחזיר את הצבע לשכונה הזו.
          </li><li>
            נשקם ונשדרג את הגנים הציבוריים בשכונה.
        </li><li>
            נפזר ברחבי השכונה מתקני כושר גופני.
        </li><li>
            נמסד את מערך המיחזור של פחי האשפה המוטמנים.
        </li><li>
            נשקם את תוואי הוואדי ,נשדרג את נחל הדרים לכל אורכו ונהפוך את האזור כולו לריאה ירוקה.
          </li>
        </ul>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        חזות העיר- הפרטים הקטנים עושים את ההבדל
        </h3>
        <ul><li>
          ננקה את העיר ונפנה את מוקדי הפסולת ומפגעי התברואה.
        </li><li>
          נבחן מחדש את שעות הפעילות לפינוי אשפה מבתי המגורים, באופן שלא יעצים את בעיות התחבורה ויפחית למינימום את ההפרעה לתושבים.
        </li><li>
          נפקח על פינוי הפסולת באזורים ובמקומות בהם מתקיימים בניה ושיפוצים ע"מ למנוע מטרד והפרעה מתמשכים לציבור בכלל ולשכנים בפרט.
        </li><li>
          נקדם תוכנית לפינות הצללה במרחב הציבורי, בעיקר במוקדים המרכזיים, בפארקים, וברחובות הראשיים בעיר.
        </li>
      </ul>


        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        מרכז העיר- מחזירים את  הלב לחיים
        </h3>
        <p class="moto_lead_text">
          רחובות סוקולוב ואוסישקין הם עורקי החיים המרכזיים ברמת השרון כבר עשרות שנים. למרבה הצער, במשך הזמן הם סבלו מהיעדר התחדשות ואיבדו מיוקרתם. הרחובות הללו נראים היום בדיוק כפי שנראו לפני עשרים שנה.
        </p>
        <ul><li>
          נבחן מחדש את תוכנית הנת"צ בסוקולוב ונתאים אותה לצרכים בשטח, תוך שיתוף הסוחרים והתושבים.
        </li><li>
          נשפר את הנראות האסתטית של הרחובות ונחדש מבנים מיושנים.
        </li><li>
          נעניק תמריצים לבנייה, שיפוץ ופיתוח בנייני המגורים.
        </li><li>
          נקדם פרויקט עירוני שיטמיע שפה ייחודית של השילוט ונראות בתי העסק.
        </li><li>
          נקים פורום משותף עם בעלי העסקים שיבחן תמריצים והקלות.
        </li>
        </ul>


        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        יחסי דתיים-חילוניים. חייה ותן לחיות
          </h3>
        <p class="moto_lead_text">
          רמת השרון תמיד דגלה בסובלנות זה לצד זה. הדת מעולם לא היוותה מוקד לחיכוך בין התושבים, ופרובוקציות מעולם לא היו חלק ממרקם החיים העירוני שלנו.
        </p>
        <ul><li>
          נפעל באהבה ובמלוא המרץ להשבת רוח האחווה בין הקהלים והמגזרים השונים בעיר.
        </li><li>
          לא נסכסך, לא נפלג, ולא נסית קבוצה אחת נגד רעותה. אנחנו משפחה.
        </li><li>
          נגן על אורחות חייהם השונים של התושבים ועל זכותם לחיות את חייהם לפי הבנתם, ללא כפייה דתית או חילונית.
        </li><li>
          נמנה לעיר רב ראשי סובלני שיהיה מקובל על כל הזרמים וישמור על רוח האחדות והמשפחתיות שאפיינו את רמת השרון מאז ומעולם.
        </li><li>
          אני אומר בבירור – אנחנו נפנה את הישיבה התורנית  כפי שהורה בית המשפט. יש פה עניין הדורש בדיקה , כפי הנראה שבגלל שהעירייה לא פעלה עדיין הם עשו כמה צעדים שמאפשרים "להלבין" את המצב
        </li><li>
          הייתי אומר – הישיבה התורנית הינה נטע זר ברמת השרון, תופעה המכניסה פילוג ופירוד לתוך המרקם הסובלני ברמת השרון. ככזו, אינה מתאימה לתושבי רמת השרון.                                נפעל על פי חוק לפינוי הישיבה כדי להשיב את אורחות חיינו הסובלניים והשקטים כפי שהיו .
        </li><li>
          לא נסכים להתיישבות גרעין תורני שמגיע וממומן מבחוץ, כדי לשנות את אופייה החילוני של העיר.
      </li>
        </ul>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        תחבורה- הגיע הזמן לזוז
        </h3>
        <p class="moto_lead_text">
          רמת השרון היא העיר הפקוקה בישראל. כולנו חווים את עומסי התנועה ואת היעדרה של תחבורה ציבורית הולמת. אנו נספק פתרונות תחבורה ירוקים ומודרניים, כפי שראוי לעיר כמו רמת השרון.
        </p>
        <ul>
          <li>
            נקדם ונפעל מול משרד התחבורה את הקמת המחלף בצומת מורשה, כדי לתת מענה ליציאה וכניסה לעיר ממזרח.
          </li><li>
            נספק פתרונות ירוקים וחדשניים כראוי לעיר מתקדמת.
        </li><li>
            נקדם הפעלת קווי מוניות שירות ברמת השרון אשר יקלו על הפקקים ובעיית החניה,         יצמצמו שימוש מיותר ברכב פרטי ויפעלו גם בשבתות וחגים.
        </li><li>
            נדאג למערך היסעים (שאטלים) למוקדים מרכזיים כמו סינמה סיטי, חוף הצוק, המרינה בהרצליה, תחנת הרכבת, ועוד.
        </li><li>
            נפעל להגברת התדירות והרחבת שעות הפעילות של קו מספר 1 על מנת להתאימו לצרכי הקשישים ובני הנוער ,ונחבר את מורשה למרכז העיר.
        </li><li>
            נצטרף לפתרונות תחבורה מטרופולינים גם ברמת השרון כמו "תל אופן", "אוטו תל" "קאר טו גו" ופתרונות מטרופולינים "ירוקים" ושיתופיים נוספים, שעובדים נפלא בערים אחרות בארץ.
        </li><li>
            נתחבר לרשת שבילי האופניים של תל אביב.
        </li><li>
            נסדיר הקמה של מגרשי חנייה למשאיות וכלי רכב כבדים והוצאתם משכונות המגורים.
        </li><li>
            נסדיר את דרכי היציאה מהשכונות המערביות.
          </li>
        </ul>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        חינוך– מטוב  ל-מצוין!
        </h3>
        <p class="moto_lead_text">

          יש לנו מערכת חינוך טובה. בואו נהפוך אותה למצוינת!        </p>
        <ul>
        <li>
          נדאג להתאמת כמות גני הילדים בשכונות המתחדשות והחדשות בהתאם לצפי הקליטה.
        </li><li>
          נקים שני בתי ספר יסודיים חדשים - בשכונת מורשה, לרובע  הדר ולרובע אלון.
        </li><li>
          נפתח חטיבת ביניים שלישית במתחם בי"ס נווה מגן ונעתיק את משרדי העירייה שבמקום למתחם ייעודי.
        </li><li>
          נטמיע מודלים חדשים לחינוך עתידי ומתקדם, גם בהקשר של תשתיות וגם בהקשר של תכנים מקצועיים.
        </li><li>
          נצמצם מספר התלמידים בכיתות.
        </li><li>
          נוביל תוכנית למיתוג בתי הספר ולהקניית ייחודיות לכל בית ספר.
        </li><li>
          נפתח מגמות לימוד חדשות ומעניינות עבור ילדי העיר, כמו מגמת מנהיגות, מגמת ים וטבע, מגמת תעופה, מגמת נוף וסביבה, מגמת חלל ואסטרונומיה ועוד.
        </li><li>
          נדאג לפתרון לתלמידים אשר לומדים במבנים יבילים! אצלנו ילדי רמת השרון לא ילמדו בקרוונים, ימי המעברות תמו!
        </li><li>
          נקים מערך תגבור מבוסס מתנדבים, הכולל סטודנטים ומתנדבים מהקהילה, שישרת את תלמידי רמת השרון ויעניק שיעורי תגבור בחינם או בעלויות נמוכות.
        </li><li>
          נסדיר את פעילות שבט הצופים בנווה מגן ונקים שבט צופים נוסף.
        </li>
        </ul>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
          ספורט מחובבנות למקצוענות
        </h3>
        <ul>
        <li>
          נקדם הקמת אקדמיה לספורט במקצועות טניס, כדורגל, כדורסל וכדוריד.
        </li><li>
          נקים בעיר בריכת שחייה אולימפית ונקדם הפעלת אקדמיה לשחייה עם מיטב בעלי המקצוע.
        </li><li>
          נשפץ ונפתח את שני מועדוני הספורט בעיר, "שרונית" וקאנטרי רמת השרון.
        </li><li>
          נעתיק את מגרשי הכדורגל משכונת מורשה לרצועת הספורט באזור מרכז הטניס ונקים שם מתחם ספורט עירוני שידע לכלכל את עצמו בעתיד.
        </li><li>
          נפתח ונקדם תוכנית ספורט מתקדמת לנוער עד גיל 18, בספורט ההישגי ובספורט להמונים.
        </li><li>
          ניתן מענה לדרישות התושבים מכל הגילאים בתחום הספורט להמונים.
        </li>
        </ul>


        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        תרבות, פנאי ובילוי- ליד הבית
</h3>
        <ul>
        <li>
          נקיים את "פסטיבל רמת השרון" – חגיגה מוזיקלית ותרבותית ובמרכזה אמנים, זמרים ולהקות תושבי העיר.
        </li><li>
          נקדם הצגות והקרנות ציבוריות של סרטי קולנוע ממגמות תיאטרון וקולנוע בבתי הספר בעיר.
        </li><li>
          נרחיב את סל התרבות העירוני.
        </li><li>
          ניזום אירועי תרבות ופנאי בעלי תוכן ייעודי לצעירים – פסטיבלי סרטים אל תוך הלילה, הפקות מוזיקה מחתרתיות בשיתוף בית ספר רימון, ירידי אוכל  ועוד.
        </li><li>
          נגדיל את מגוון הפעילויות במרחבים העירוניים לכל המשפחה.
        </li><li>
          נדאג לתוכן איכותי לאוכלוסיית הגיל השלישי ונוזיל את עלות הפעילויות כדי לאפשר לרבים יותר ליהנות מהן ולהשתתף בהן
        </li>
        </ul>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
        חיים וסביבה– לעיר ירוקה עוד יותר
        </h3>
        <ul>
        <li>
          נסייע ככל שניתן לחקלאי רמת השרון כדי לשמר את הריאה הירוקה והייחודית שלנו.
        </li><li>
          נטפח את הגינות הציבוריות ברחבי העיר.
        </li><li>
          נקיים ימי אימוץ לבעלי חיים בתמיכת העירייה, תוך שיתוף פעולה עם העמותות המקומיות.
        </li><li>
          נגביר מאמץ לעיקור ולסירוס בעלי חיים משוטטים.
        </li><li>
          נתקין מתקנים סולאריים על גגות של מוסדות ציבוריים ברחבי רמת השרון, כדי לייצר חשמל "ירוק" נפחית את צריכת החשמל העירונית, נעודד שימוש באנרגיות מתחדשות ונצמצם את חשבון החשמל החודשי של העירייה.
        </li><li>
          נקדם את פתרונות המיחזור בהתאמה למדיניות המשרד להגנת הסביבה.
        </li>
        </ul>

        <img src="assets/images/a_v.png" class="monto_ok_header">
        <h3 class="moto_header">
          מנהל תקין. איכות השלטון. שקיפות- הערכים שאי אפשר היום בלעדיהם
        </h3>
        <p class="moto_lead_text">
          עברו הימים בהם היה נתק מוחלט בין התושבים לרשות השולטת. עוברים הימים בהם ראשי ערים עשו בעיר כבתוך שלהם. יושרה, שיתוף, שקיפות והקשבה  הם ערכי חובה היום, ואלה הערכים שלנו.
        </p>
        <ul>
          <li>
            נפעל על פי אמות מידה ברורות של שקיפות, מנהל תקין וטוהר מידות.
          </li><li>
            חתמנו על האמנה של התנועה לאיכות השלטון בישראל- למאבק בשחיתות ברשויות המקומיות.
        </li><li>
            נקיים הדרכה והשתלמויות לכל עובדי העירייה בנושא מנהל ציבורי תקין
        </li><li>
            נגביר את השקיפות באתר העירוני, בהליכי ההתקשרות של כל הגורמים העירוניים ובאיוש המשרות.
        </li><li>
            נקיים ימים פתוחים לקהל הרחב וימי שיח תושבים בכל שכונה ושכונה.
        </li><li>
            נקיים שיח פתוח במדיה החברתית.

          </li>
        </ul>





      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
