<div class="row">
  <div class="col-md-6" style="margin-bottom: 40px">
    <div>
      <div>
        התקדמות
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-xs"
            (click)="delete()" >
      מחק
    </button>
  </div>
  <div class="col-md-3" >
    <div *ngFor="let item of uploader.queue">
      <button type="button" class="btn btn-success btn-xs"
              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
        <span class="glyphicon glyphicon-upload"></span> טען
      </button>
      <span [hidden]="!item.isSuccess">נטען בהצלחה</span>
    </div>
  </div>
  <div class="col-md-3">
    <input type="file" ng2FileSelect [uploader]="uploader" />
  </div>
</div>

