<app-header></app-header>

<div class="IndexBodyContainer">

  <div class="PageMainwidth">

    <div style="text-align: center">
      <h2 class="contact_header">
        הנבחרת
      </h2>
    </div>


  <div class="circleBase teamNumber">
    <span class="circleText">1</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/profile-img.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">רוני בלקין</h3>
      <p class="borderTextBoxText">
         תא"ל במיל', אב לשניים, סמנכ"ל פעילות חו"ל בקבוצת נקסטקום, העוסקת בניהול פרויקטים בתחומי האנרגיה והתשתיות בעולם. בעל תואר ראשון לניהול וכלכלה, חבר הוועדה החקלאית, חבר הנהלת המוזיאון הגיאולוגי ו"בית הראשונים" ברמת השרון.
        את קורות החיים המלאים של רוני בלקין ניתן לקרוא בלשונית
        <a href="/אודות" style="color: blue"> "אודות"  </a>
        באתר זה.
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText">2</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/104.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">ענבל בכר-כץ</h3>
      <p class="borderTextBoxText">
        תושבת רובע הדר, אם לשניים. ד"ר לחינוך, מרצה לחינוך מיוחד. כנכת צה"ל שנפגעה כקצינה במהלך מלחמת המפרץ הראשונה, היא לא ויתרה וקיימה בשיקום הממושך שגרת אימונים בטניס שולחן עד שהפכה לספורטאית מצטיינת, לאלופת ישראל ולמייצגת המדינה באליפויות בינלאומיות. מנגנת בסקסופון.
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText">3</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/109.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">רונן וקנין</h3>
      <p class="borderTextBoxText">
        תושב נווה רסקו, אב לשלושה, מהנדס תנועה ותחבורה, שמאי ועורך דין המתמחה בתכנון ובנייה. מייסד קבוצת "חיים ברמה"ש" ופעיל חברתי בולט. וקנין הוביל את המאבק לכניסה ויציאה ממורשה, ייעץ לקבוצת אחל"ה (איכות חיים לתושבי השרון) במסגרת ההתנגדות שהוגשה לתכנית עיר התע"ש, ייצג כמהנדס תנועה את התושבים במסגרת ההתנגדות שהוגשה לפרויקט במתחם אילת, ופעל להעלאת המודעות הציבורית לתכנית המתאר הכוללנית לרמת השרון שהוצגה לציבור.
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText">4</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/103.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">סיון סימון אברג'ל</h3>
      <p class="borderTextBoxText">
        אם לשלושה, ילידת נווה מגן, כיום מתגוררת במורשה. אדריכלית ומומחית בשימור מבנים היסטוריים.
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText">5</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/111.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">אתי לויאן כהן-ארזי</h3>
      <p class="borderTextBoxText">
        פעילה חברתית, מורשה. אם לשניים. סמנכ״ל בחברת השקעות פרטית בתחום המכשור הרפואי. לשעבר יו״ר ועדת כוח אדם של רשת המתנ״סים ברמה"ש, יו״ר גני יול״א, פעילה בוועדי הורים.
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText">6</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/110.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">ד"ר אלכס מאכינסון</h3>
      <p class="borderTextBoxText">
        תושב רובע הדר, רופא שיניים ורופא מרדים.
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText">7</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/100.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">רותי שמחוני</h3>
      <p class="borderTextBoxText">
        עורכת דין, תושבת שכונת נווה גן. אם לשלשה בוגרים. בעלת משרד ליזום ותיווך נדל״ן
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText">8</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/105.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">דוד אלשטיין</h3>
      <p class="borderTextBoxText">
        תושב רובע אלון, נשוי ואב לשניים. בעל תואר שני במנהל עסקים. מייסד ומנהל את ׳נעם׳ - ניהול עושר משפחתי בע״מ. מומחה בתכנון אסטרטגי ובניהול עושר למשפחות ולמנהלים בכירים במשק.
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText">9</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/101.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">מידד בן יוחנן</h3>
      <p class="borderTextBoxText">
        נשוי ואב לשלוש בנות, תושב נווה רסקו. בוגר תואר  בכלכלה בהצטיינות ותואר שני במנהל עסקים. מידד הנו נציגה בישראל של חברת תוכנה מובילה וכן בעל משרד בוטיק לבנקאות השקעות. בעברו כיהן בתפקיד ניהולי במשרד התשתיות הלאומיות. מתנדב בעמותה המעודדת אנשים עם מוגבלויות לעסוק בספורט.
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText1">10</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/102.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">בועז ענבל</h3>
      <p class="borderTextBoxText">
        מתגורר מעל 40 שנה ברמת השרון, נשוי ואב ל-4 ילדים. 
        מנהל בכיר בחברת הייטק, קצין פעיל במילואים ביחידה מובחרת. מתנדב במספר עמותות, וגזבר שבט הצופים לשעבר. 
      </p>
    </div>
  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText1">11</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/107.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">ז'יל בן דוד</h3>
      <p class="borderTextBoxText">
        תושב רובע הדר, שחקן וזמר, פעיל תרבות.
      </p>
    </div>

  </div>

  <div style="padding: 20px"></div>

  <div class="circleBase teamNumber">
    <span class="circleText1">12</span>
  </div>

  <div class="border">
    <div class="borderImage">
      <img src="assets/images/team/108.png" width="150px">
    </div>
    <div class="borderTextBox">
      <h3 class="borderTextBoxHeader">רפי מילר</h3>
      <p class="borderTextBoxText">
        תושב שכונת מורשה, מרצה לתקשורת במרכז הבינתחומי, במאי, מפיק ומנהל תוכניות בטלוויזיה החינוכית. פעיל חברתי בתחום החינוך, התרבות והחברה ברמת השרון.
      </p>
    </div>

  </div>

  <p style="font-size: 20px ">
    רוני בלקין: "אלה חברי הנבחרת שלי, כולם פטריוטים רמת-שרונים. לא פוליטיקאים, לא עסקנים, לא כוכבים מזדמנים ולא 'מדהימים'. אנחנו לא בתכנית ריאליטי, אנחנו בריאליטי עצמו. באנו לעבוד, באנו לתרום, באנו לשנות ולהביא את העיר שלנו למקום שהיא ראויה לו - להיות מס' 1 בכל מדדי איכות החיים".
  </p>
  </div>
</div>
<app-footer></app-footer>
