<app-header></app-header>
<div class="IndexBodyContainer" style="padding-bottom: 0px;">

  <div class="PageMainwidth">

    <div class="ProfileDetailsPage">

      <div class="DonationContainer">

        <h2>תרומות</h2>
        <div class="DonationContainerLeft">

         <div style="background-color: white;padding: 10px 0px;">
          <div class="DonationHeaderLeft">
            <a href="http://bit.ly/2O294le" style="color: white">
            לתרומה דרך האתר לחצו
            כאן ></a>
          </div>
         </div>

          <div class="DonationContainerLeftCont">
            <br/>
            <h3 style="padding-bottom: 30px">לתרומה דרך חשבון בנק:</h3>
            <table class="DonnationBank" >
              <tr>
                <td class="DonnationBank-desc">
                  מספר חשבון:
                </td>
                <td class="DonnationBank-val">
                  153594391
                </td>
              <tr>
                <td class="DonnationBank-desc">
                  בנק:
                </td>
                <td class="DonnationBank-val">
                  דיסקונט
                </td>
              </tr>
              <tr>
                <td class="DonnationBank-desc">
                  מספר סניף:
                </td>
                <td class="DonnationBank-val">
                  125
                </td>
              </tr>
              <tr>
                <td class="DonnationBank-desc">
                  ע"ש:
                </td>
                <td class="DonnationBank-val">
                  למען רמת השרון/
                  <br/>
                  בחירות לרשות מקומית רמת השרון
                </td>
              </tr>
            </table>
            <!--
              <h3>בחרו את סכום התרומה:</h3>

              <div class="Donationbtns">
                <label class="radio_btn_container">
                  <span class="Donationbtns-price">11,380<small> ש״ח</small></span>
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>
                <label class="radio_btn_container"> <span class="Donationbtns-price">11,380<small> ש״ח</small></span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                </label>
                <label class="radio_btn_container"> <span class="Donationbtns-price">11,380<small> ש״ח</small></span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                </label>
                <label class="radio_btn_container"><span class="Donationbtns-price">11,380<small> ש״ח</small></span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                </label>
                <label class="radio_btn_container"><span class="Donationbtns-price">11,380<small> ש״ח</small></span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                </label>
                <label class="radio_btn_container"><span class="Donationbtns-price">11,380<small> ש״ח</small></span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                </label>
                <label class="radio_btn_container"><span class="Donationbtns-price">11,380<small> ש״ח</small></span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                </label>
                <label class="radio_btn_container"><span class="Donationbtns-price">11,380<small> ש״ח</small></span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                </label>
                <label class="radio_btn_container"><span class="Donationbtns-price">11,380<small> ש״ח</small></span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="Donation-Terms">
                <label class="Donation_checkbox">קראתי ואני מאשר/ת את תנאי השימוש
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              -->
          </div>
        </div>

        <div class="DonationContainerRight">
          <h3>רוני בלקין לראשות רמת השרון</h3>

          <h4>אני מודה לכן ולכם מקרב לב על הנכונות לסייע לי להבחר לראשות העיר רמת השרון.</h4>
          <h4>כל תרומה תתקבל בברכה, וכל סכום יקדם אותנו לעבר היעד.</h4>
          <h4>שלכן ושלכם,<br>רוני בלקין</h4>
          <img src="assets/images/signature.png" class="moto-sig">
          <p>לתשומת לב התומכות והתומכים: כמתחייב בחוק, תרומות חייבות להיות גלויות, ולא יתאפשרו תרומות אנונימיות. סכום התרומה המרבי לבית אב הינו 5,000 ש״ח.</p>

        </div>

      </div>

    </div>
  </div>

</div>
<app-footer></app-footer>
